.player-episode-label {
    font-weight: bold;
    font-size: smaller;
}

.player-show-label {
    font-size: smaller;
}

.small-label {
    font-size: smaller;
}

.bold-label {
    font-weight: bold;
}

progressbar.playback-progress trough {
    border-radius: 3px;
}
progressbar.playback-progress trough progress {
    border-radius: 3px;
    border-right: none;
    border-left: none;
}

popover modelbutton > box > label {
    font-feature-settings: "tnum";
}

.episode_description .podcast_title {
    color: @insensitive_fg_color;
}
.episode_description .episode_title {
    font-weight: bold;
    font-size: larger;
}
.episode_description .episode_duration_date {
    color: @insensitive_fg_color;
}
.episode_description_label link {
    text-decoration: none;
}

/* Discovery Search */
.found-podcast .description {
    color: @insensitive_fg_color;
}

.episode_description .toolbar {
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 0px;
}

.episode_description progressbar {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 15px;
}

.rounded-big {
    border-radius: 8px;
}

.rounded-small {
    border-radius: 4px;
}

.show-button {
    padding: 0px;
}

.taller-button {
    padding-top: 4px;
    padding-bottom: 4px;
}

.shows-grid {
    background: transparent;
    padding-top: 12px;
    padding-bottom: 26px;
    padding-left: 6px;
    padding-right: 6px;
}

.shows-grid > * {
    padding: 0px;
    margin: 6px;
}
