row {
	border-bottom: solid 1px rgba(0,0,0, 0.1);
}

row:last-child {
	border-bottom: none;
}

list, border {
  border-radius: 4px;
}

.player-episode-label {
    font-weight: bold;
    font-size: smaller;
}

.player-show-label {
    font-size: smaller;
}

.devel headerbar {
  background: transparent -gtk-icontheme("system-run-symbolic") 80% 0/128px 128px no-repeat,
              linear-gradient(to left,
                              mix(@theme_selected_bg_color, @theme_bg_color, 0.5) 8%,
                              @theme_bg_color 25%);
  color: alpha(@theme_fg_color, 0.1);
}

.devel headerbar label {
  color: @theme_fg_color;
}